.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  border-bottom: 1px solid lightgray;
}
.logo-img {
  width: 147px;
  height: 25px;
}
.menu {
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: var(--next-font-inter, "Inter"), Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  height: 36px;
  line-height: 36px;
  margin-left: 0px;
  margin-right: 20px;
  text-decoration: none;
}

.tasker-btn {
  border: 1px solid #0d7a5f;
  border-radius: 8px;
  color: #0d7a5f;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  padding: 8px 28px;
  -webkit-text-decoration: none;
  text-decoration: none;
  transition-duration: 0.16s;
  transition-property: background, color, border-color, box-shadow,
    -webkit-box-shadow;
  transition-timing-function: ease;
  font-family: var(--next-font-inter, "Inter"), Helvetica, sans-serif;
}
